/* font style */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }

  .dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}


/* shared styles  */

.primary-title{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: white;
}

.secondary-title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.primary-description{
    color: rgb(157 149 149);
    margin: 10px 0;
}

.primary-btn{
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    padding: 15px 40px;
    margin: 20px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* header section starts here  */

.header{
    background: linear-gradient(180.00deg, rgb(34, 34, 34),rgba(119, 119, 119, 0) 100%);
}

.header-container{
    width: 80%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-title{
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-small{
    display: none;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
}

.menu .menu-first a{
    background-color: rgb(230, 83, 60);
    font-weight: 700;
}


.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.banner > div{
    width: 50%;
}

.banner-title{
    position: relative;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 0;
    z-index: 1;
}

.banner-title-span{
    position: relative;
    display: inline-block;
    font-size: 7rem;
    font-weight: 100;
    font-style: italic;
}

.banner-btn-last{
    background-color: transparent;
    border: 1px solid whitesmoke;
}

.banner-image{
    padding: 50px;
    background-image: url('../assets/Images\ 2.png');
    background-repeat: no-repeat;
    background-position: center;
}


.banner-box{
    padding: 10px 0;
    text-align: center;
    height: 50px;
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner-box-first{
    margin-left: 250px;
}

.banner-box-last{
    margin-top: 250px;
}

.banner-span-first{
    font-size: 1.5rem;
    font-weight: 700;

}

.banner-span-last{
    font-size: 0.8rem;
}

/* Habit section starts here  */
.habit{
    width: 80%;
    margin: 70px auto;
    text-align: center;
}


.habit-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.habit-card img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.habit-card-title{
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* run section starts here  */

.run{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 80%;
    margin: 70px auto;
    border-radius: 20px;
    background: rgb(34, 34, 34);
}



.run-info{
    text-align: left;
    padding: 30px 50px;
}

.run-title{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
}

.run-btn{
    padding: 15px 70px;
    border-radius: 40px;
}

.run-image{
    padding: 40px 60px;
}

.run-image img{
    width: 100%;
    border-radius: 15px;
}


/* bmi section starts here  */

.bmi-info{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.bmi-content-container{
    background-color: rgb(34, 34, 34);
}

.bmi-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 70px auto;
    padding: 30px 0;
}

.bmi-table{
    margin-top: 50px;
}

table, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px 40px 10px 20px;
}

table thead td{
    font-weight: 700;
}

table tbody td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}

/* team section starts here  */

.team{
    width: 80%;
    margin: 70px auto;
}

.team-info{
    text-align: center;
}

.team-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.team-image{
    height: 250px;
    width: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(92, 92, 90);
    background-blend-mode: overlay;
    position: relative;
}

.member-name{
    position: absolute;
    top: 180px;
    left: 20px;
    font-size: 1.1rem;
    font-weight: 900;
}

.member-profession{
    position: absolute;
    top: 200px;
    left: 20px;
}

.team-image-1{
    background-image: url('../assets/trainer1.png');
}
.team-image-2{
    background-image: url('../assets/trainer2.png');
}
.team-image-3{
    background-image: url('../assets/trainer3.png');
}
.team-image-4{
    background-image: url('../assets/trainer4.png');
}
.team-image-5{
    background-image: url('../assets/trainer5.png');
}
.team-image-6{
    background-image: url('../assets/trainer6.png');
}


/* footer section starts here  */

footer{
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px 0;
}

.footer-content{
    display: grid;
    grid-template-columns: 45% 25% 25%;
    gap: 25px;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.footer-title{
    font-size: 4rem;
    font-weight: 900;
    color: rgb(230, 83, 60);
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.footer-links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    margin: 10px 0;
}

.footer-copyright{
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.footer-copyright hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-copyright-text{
    font-size: 1.2rem;
    padding: 30px 0;
}






/* Responsive Styles  */

/* header responsive styles  */

@media screen and (max-width: 576px) {

    /* sharede styles responsive  */

    body{
        width: 100%;
    }

    .primary-title{
        font-size: 2rem;
    }
    .primary-btn{
        padding: 10px 15px;
        font-weight: 400;
    }

    /* Header styles responsive  */

    

    .menu{
        display: none;
    }

    .navbar .menu-small{
        display: block;
    }

    .banner{
        flex-direction: column;
    }

    .banner-title{
        font-size: 3rem;
    }

    .banner-title-span{
        font-size: 4rem;
    }

    .banner > div{
        width: 100%;
    }

    .banner-box-first {
        margin-left: 175px;
    }
    

    /* Habit section styles responsive  */
    .habit-content{
        grid-template-columns: repeat(1, 1fr);
    }

    /* Run section styles responsive  */

    .run{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 70px auto;
        gap: 0px;
    }

    .run-info{
        padding: 20px 30px;
    }

    .run-btn{
        padding: 20px 100px;
    }

    .run-image{
        padding: 20px;
    }
    
    /* team section styles responsive */

    .team{
        width: 90%;
        margin: 70px auto;
    }

    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer section styles responsive */

    .footer-content{
        grid-template-columns: repeat(1, 1fr);
    }
}